* {
  box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p,a,li {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',sans-serif;
}

/* img{
  max-width: 100%;
  height: 100%;
} */

a{
  text-decoration: none;
  color: #000000;
}
a:hover{
  opacity: .5;
  transition: .3s;
}

/* ヘッダー --------------------- */
.header{
  background-image: url(../img/main.png);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80vh;
}

.header-inner{
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  height: 60px;
}

.hamburger{
  display: none;
}

.header-nav-list{
  display: flex;
}

.header-nav-list li{
  margin:0 30px;
}


.header-ttl{
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  text-align: center;
}

@media(max-width:960px){
  .header{
    height: 50vh;
  }

  .header-inner{
    max-width: 1100px;
    height: 70px;
    padding:15px 20px;
    align-items: center;
  }

  .hamburger{
    display: block;
  }

  .hamburger img{
    margin: auto;
  }

  .header-nav-list{
    display: none;
  }

  .header-logo{
    width:93px;
    height: auto;
  }

  .header-ttl{
    font-size: 24px;
  }

}

/* .news  --------------------- */
.news{
  max-width:1100px;
  margin: 0 auto;
  padding: 90px 0;
  width: 100%;
}

.news-heading{
  font-size: 38px;
  text-align: center;
  margin-bottom: 60px;
}

.news-inner{
  max-width: 700px;
  margin: 0 auto;
}

.news-list{
  padding: 30px 0;
  border-bottom: #000000 1px solid;
}

.news-list a{
  display: block;
}

.news-list-category{
  display: inline-block;
  border: #000000 1px solid;
  font-size: 11px;
  padding: 5px 8px;
  margin: 0 30px;
  transform: translateY(-2px);
}

@media(max-width:960px){
  .news{
    padding:50px 20px ;
  }

  .news-heading{
    font-size: 24px;
    margin-bottom: 0px;
  }

  .news-inner{
    max-width: 903px;
  }

  .news-list-date{
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}

.news-list-category{
  transform: translateY(0px);
}


}

/* .example  --------------------- */
.example{
    max-width:1100px;
    margin: 0 auto;
    padding:90px 0;
    width: 100%;
}

.example-heading{
  font-size: 38px;
  text-align: center;
  margin-bottom: 90px;
}

.example-inner{
  display: flex;
}

.example-item{
  text-align: center;
  width: 50%;
}

.example-img{
  width: 430px;
}


.example-item-ttl{
  font-size: 24px;
  margin-top: 30px;
}

.example-item-area{
  font-size: 14px;
  margin-top: 15px;
}

.example-item-btn{
  margin: 15px auto 0;
  display: block;
}

.example-item-btn img{
  width:300px;
}

.example-bottom-btn{
  display: block;
  margin: 80px auto 0;
  text-align: center;
  font-size: 20px;
  width: 202px;
  height: 50px;
  line-height: 50px;
  border: #000000 1px solid;
}



@media(max-width:960px){

.example{
  margin: 0 auto;
  padding:50px 20px;
  width: 100%;
}

.example-heading{
  font-size: 24px;
  margin-bottom:30px;
}

.example-inner{
  display: block;
  width: 100%;
}

.example-item{
  width: 100%;
  margin-bottom: 50px;
}

.example-img{
  width: 700px;
  max-width: 100%;
  height: auto;
}

/* .example-img img{
  width: auto;
} */



.example-item-area{
  font-size: 14px;
}

.example-bottom-btn{
  margin: 0 auto;
}
}



/* .square-nav ------------ */
.square-nav{
  padding-top:90px ;
  display: flex;
}

.square-list{
  width:calc(100% / 3);
} 

.square-list img{
  vertical-align: bottom;
  width: 100%;
} 

@media(max-width:960px){
  .square-nav{
    padding-top:50px ;
    display: block;
  }

  .square-list{
    width:100%;
  } 
}
/* .footer ----------------- */

.footer{
  background: #000000;
}

.footer-inner{
  max-width: 1100px;
  margin: 0 auto;

}

.footer-nav{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 60px;
}

.footer-nav-logo img{
  width: 95px;
  height: 40px;
}

.footer-nav-logo img{
  vertical-align: bottom;
}
.footer-nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav-list{
  margin:0 30px;
}

.footer-nav-list a{
  color: #FFFFFF;
  font-size: 18px;
}

.copy{
  text-align: center;
  padding-bottom: 10px;
  font-size: 12px;
  color:#FFFFFF;
}

@media(max-width:960px){
  .footer-inner{
    width: 100%
  }

  .footer-nav{
    flex-direction:column-reverse ;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 50px;
  }

  .footer-nav-menu{
    flex-direction:column;
    justify-content: space-between;
    width: 168px;
    margin: 0 auto 20px;
  }

  .footer-nav-list{
    margin:0 30px 30px;
  }
  .footer-nav-logo{
    margin: 0 auto;
  }
}

