body{
  font-size: 16px;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}
/* 共通------------------- */

.section-ttl{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .section-ttl {
    font-size: 28px;
  }
}

/* .header ------------------- */
.header{
  height: 80px;
}

@media (max-width:768px){
  .header{
    height: 60px;
  }
}

.header-inner{
  max-width: 980px;
  margin:0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
@media (max-width:768px){
  .header-inner{
    padding: 0 10px;
  }
}

@media (max-width:768px){
  /* aaa */
}

.header-logo {
  width: 179px;
  height: 40px;
}

@media (max-width:768px){
  .header-logo {
    width: 110px;
    height: 24px;
  }
}

.header-nav-list{
  display: flex;
}

.header-nav-list-item{
  font-weight: bold;
  color: #333333;
  padding: 10px;
}

@media (max-width:768px){
  .header-nav-list-item{
    padding: 5px;
    font-size: 12px;
  }
}

.header-nav-list-item:last-child{
  padding-right: 0px;
}

@media (max-width:768px){
  /* aaa */
}

/* .mv ------------------- */
.mv{
  background-image: url(../img/main-visual.png);
  background-size: cover;
  background-position: center;
  height: 551px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.mv-copy{
  position: absolute;
  top: 50%;
  left: 50%;
  /* -webkit-transform: translate(-50%, -30%); */
  transform: translate(-50%, -30%);
}

.mv-copy-ttl{
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 10px;
}
@media (max-width:768px){
  .mv-copy-ttl{
    font-size: 32px;
  }
}

.mv-copy-txt {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

/* .mc ------------------- */
.mc{
  padding: 60px 0 88px;
  box-sizing: border-box;
}


.mc-inner{
  max-width: 980px;
  margin: 0 auto;
}

.mc-wrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media (max-width:768px){
  .mc-wrapper{
    flex-direction: column;
    box-sizing: border-box;

  }
}

.mc-box{
  width: calc(33.33333333% - 25px * 2 / 3);
box-shadow: 0px 3px 6px #00000029;
position: relative;
}

@media (max-width:768px){
  .mc-box{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.mc-box-img{
  width: 100%;
}

.mc-box-info{
  padding: 20px;
  height: 168px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .mc-box-info{
    height: 140px;
  }
}

.mc-box-ttl{
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width:768px){
  .mc-box-ttl{
    font-size: 16px;
    font-weight: bold;
  }
}

.mc-box-date{
  margin-top: auto;
}

@media (max-width: 768px) {
  .mc-box-date{
    font-size: 14px;
  }
}

.btn_01{
  display: block;
  margin: 46px auto 0px;
  width: 310px;
  text-align: center;
  padding: 17px 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.0;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn_01{
    width: 80%;font-size: 16px;
  }
}

.btn_01,.btn_02:hover {
  opacity: 0.8;
}

/* .jc ------------------- */
.jc{
  background-image: url(../img/footer-visual.png);
  background-size: cover;
  background-position:center;

}
.jc-inner{
  padding: 59px 0 44px;
}

.jc .section-ttl{
  color: #fff;
  font-size: 36px;
}

@media (max-width: 768px) {
  .jc .section-ttl {
    font-size: 28px;
  }
}

.jc-desc{
  color: #fff;
  text-align: center;
  margin: 47px 0 50px;
  line-height: 1.7;
  font-weight: bold;
}

@media (max-width: 768px) {
  .jc-desc{
    font-size: 14px;
    line-height: 2;
  }
}

.btn_02 {
  display: block;
  width: 210px;
  color: #fff;
  padding: 19px 0;
  background-color: #83032A;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  font-weight: bold;
}

@media (max-width: 768px) {
  .btn_02{
    width: 80%;font-size: 16px;
  }
}
/* .footer ------------------- */

.footer{
  padding: 32px 0;
  background-color: #333333;
  text-align: center;
  color: #fff;
}

.footer small {
  font-size: 14px;
  letter-spacing: 0.025em;
}

@media (max-width: 768px) {
  .footer small {
    font-size: 12px;
  }
}